# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

.idea

.DS_Store

architecture/code/firmware_updates/FirmwareUpdates/build
architecture/code/fmvss_certification/FmvssCertification/build
architecture/code/recall_notifications/RecallNotifications/build
architecture/code/vehicle_state/VehicleState/build
architecture/code/licensing/Licensing/build
architecture/code/proof_of_financial_responsibility/ProofOfFinancialResponsibility/build
architecture/code/registration/Registration/build

architecture/poc/federal/cryptography/certs
architecture/poc/federal/hosts/dot-orderer-1/var/*
architecture/poc/federal/hosts/nhtsa-peer0/hyperledger
architecture/poc/federal/hosts/purdue-motor-company-peer0/hyperledger

architecture/poc/federal/hosts/dot-orderer-1/etc/firmware.pb
architecture/poc/federal/hosts/dot-orderer-1/etc/fmvss.pb
architecture/poc/federal/hosts/dot-orderer-1/etc/recall.pb
architecture/poc/federal/hosts/dot-orderer-1/etc/vehicle.pb

architecture/poc/state/cryptography/certs

architecture/poc/state/hosts/al-orderer-1/etc/proof.pb
architecture/poc/state/hosts/az-orderer-1/etc/registration.pb
architecture/poc/state/hosts/fl-orderer-1/etc/licensing.pb
architecture/poc/state/hosts/ga-orderer-1/etc/proof.pb
architecture/poc/state/hosts/nd-orderer-1/etc/proof.pb
architecture/poc/state/hosts/pa-orderer-1/etc/registration.pb
architecture/poc/state/hosts/sd-orderer-1/etc/licensing.pb
architecture/poc/state/hosts/sd-orderer-1/etc/registration.pb
architecture/poc/state/hosts/wv-orderer-1/etc/licensing.pb

architecture/poc/state/hosts/al-orderer-1/var/*
architecture/poc/state/hosts/az-orderer-1/var/*
architecture/poc/state/hosts/fl-orderer-1/var/*
architecture/poc/state/hosts/ga-orderer-1/var/*
architecture/poc/state/hosts/nd-orderer-1/var/*
architecture/poc/state/hosts/pa-orderer-1/var/*
architecture/poc/state/hosts/sd-orderer-1/var/*
architecture/poc/state/hosts/wv-orderer-1/var/*

architecture/poc/state/hosts/al-dmv-peer0/hyperledger
architecture/poc/state/hosts/az-dmv-peer0/hyperledger
architecture/poc/state/hosts/fl-dmv-peer0/hyperledger
architecture/poc/state/hosts/ga-dmv-peer0/hyperledger
architecture/poc/state/hosts/nd-dmv-peer0/hyperledger
architecture/poc/state/hosts/pa-dmv-peer0/hyperledger
architecture/poc/state/hosts/sd-dmv-peer0/hyperledger
architecture/poc/state/hosts/wv-dmv-peer0/hyperledger

architecture/poc/state/hosts/insurer-co-al-peer0/hyperledger
architecture/poc/state/hosts/insurer-co-az-peer0/hyperledger
architecture/poc/state/hosts/insurer-co-fl-peer0/hyperledger
architecture/poc/state/hosts/insurer-co-ga-peer0/hyperledger
architecture/poc/state/hosts/insurer-co-nd-peer0/hyperledger
architecture/poc/state/hosts/insurer-co-pa-peer0/hyperledger
architecture/poc/state/hosts/insurer-co-sd-peer0/hyperledger
architecture/poc/state/hosts/insurer-co-wv-peer0/hyperledger
